<h5 class="text-center mt-5">Ders Sayısını Giriniz</h5>
<div class="container">
  <div class="row">
    <form

    (ngSubmit)="onSubmit()"
    [formGroup]="lectureCountForm" class="form-container">

      <mat-form-field>
        <input type="number"
          formControlName="numberOfLecture"
          matInput
          placeholder="Ders Sayısı"
        />
        <mat-error *ngIf="getControls.numberOfLecture.invalid">
          {{
            validationService.getValidationMessage(
              getControls.numberOfLecture,
              "Ders sayısı"
            )
          }}
        </mat-error>
      </mat-form-field>

      <br>
      <button [disabled]="loading" mat-raised-button color="primary">
        Gönder
        <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
          ></span>
      </button>
    </form>
  </div>
</div>
